<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywgroup.iecloud.bagshare.dao.BagInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ywgroup.iecloud.bagshare.pojo.BagInfo" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="brand" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pricezu" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="priceya" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="major_picture_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="minor_picture_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bag_information" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="produce" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="color" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="material" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="categoryid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="size" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, bid, brand, pricezu, priceya, price, major_picture_address, minor_picture_address, 
    bag_information, produce, color, material, categoryid, category, size, content, status, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bag_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bag_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ywgroup.iecloud.bagshare.pojo.BagInfo" >
    insert into bag_information (id, name, bid, 
      brand, pricezu, priceya, 
      price, major_picture_address, minor_picture_address, 
      bag_information, produce, color, 
      material, categoryid, category, 
      size, content, status, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{bid,jdbcType=INTEGER}, 
      #{brand,jdbcType=VARCHAR}, #{pricezu,jdbcType=DECIMAL}, #{priceya,jdbcType=DECIMAL}, 
      #{price,jdbcType=DECIMAL}, #{majorPictureAddress,jdbcType=VARCHAR}, #{minorPictureAddress,jdbcType=VARCHAR}, 
      #{bagInformation,jdbcType=VARCHAR}, #{produce,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{material,jdbcType=VARCHAR}, #{categoryid,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, 
      #{size,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ywgroup.iecloud.bagshare.pojo.BagInfo" >
    insert into bag_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="bid != null" >
        bid,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="pricezu != null" >
        pricezu,
      </if>
      <if test="priceya != null" >
        priceya,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="majorPictureAddress != null" >
        major_picture_address,
      </if>
      <if test="minorPictureAddress != null" >
        minor_picture_address,
      </if>
      <if test="bagInformation != null" >
        bag_information,
      </if>
      <if test="produce != null" >
        produce,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="material != null" >
        material,
      </if>
      <if test="categoryid != null" >
        categoryid,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="pricezu != null" >
        #{pricezu,jdbcType=DECIMAL},
      </if>
      <if test="priceya != null" >
        #{priceya,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="majorPictureAddress != null" >
        #{majorPictureAddress,jdbcType=VARCHAR},
      </if>
      <if test="minorPictureAddress != null" >
        #{minorPictureAddress,jdbcType=VARCHAR},
      </if>
      <if test="bagInformation != null" >
        #{bagInformation,jdbcType=VARCHAR},
      </if>
      <if test="produce != null" >
        #{produce,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="material != null" >
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null" >
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ywgroup.iecloud.bagshare.pojo.BagInfo" >
    update bag_information
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=INTEGER},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="pricezu != null" >
        pricezu = #{pricezu,jdbcType=DECIMAL},
      </if>
      <if test="priceya != null" >
        priceya = #{priceya,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="majorPictureAddress != null" >
        major_picture_address = #{majorPictureAddress,jdbcType=VARCHAR},
      </if>
      <if test="minorPictureAddress != null" >
        minor_picture_address = #{minorPictureAddress,jdbcType=VARCHAR},
      </if>
      <if test="bagInformation != null" >
        bag_information = #{bagInformation,jdbcType=VARCHAR},
      </if>
      <if test="produce != null" >
        produce = #{produce,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="material != null" >
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null" >
        categoryid = #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ywgroup.iecloud.bagshare.pojo.BagInfo" >
    update bag_information
    set name = #{name,jdbcType=VARCHAR},
      bid = #{bid,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      pricezu = #{pricezu,jdbcType=DECIMAL},
      priceya = #{priceya,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      major_picture_address = #{majorPictureAddress,jdbcType=VARCHAR},
      minor_picture_address = #{minorPictureAddress,jdbcType=VARCHAR},
      bag_information = #{bagInformation,jdbcType=VARCHAR},
      produce = #{produce,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      material = #{material,jdbcType=VARCHAR},
      categoryid = #{categoryid,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPageNumber" resultMap="BaseResultMap" parameterType="integer">
    select
    <include refid="Base_Column_List" />
    from bag_information
    order by rand() limit #{pagenumber}
  </select>

  <select id="selectByPrice" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from bag_information
    WHERE
    categoryid IN
    <foreach item="item" index="index" collection="types" open="(" separator="," close=")">
      #{item}
    </foreach>
    <if test="bid != 0">
      AND bid = #{bid}
    </if>
    <if test="status != null">
      AND status = #{status}
    </if>
    AND price BETWEEN #{start} AND #{end}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM bag_information
  </select>

  <update id="updateStatusById" parameterType="integer">
    UPDATE bag_information
    SET status = "1"
    WHERE id = #{id}
  </update>

  <update id="updateStatusById2" parameterType="integer">
    UPDATE bag_information
    SET status = "0"
    WHERE id = #{id}
  </update>

  <select id="selectStatusById" parameterType="integer" resultType="string">
    SELECT status
    FROM bag_information
    WHERE id = #{bid}
  </select>
</mapper>